* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: #ec715f;
}

nav {
  display: flex;
  width: 1024px;
  justify-content: flex-end;
}

nav > div {
  margin: 0 30px;
  height: 100%;
  font-size: 16px;
  color: #fafafa;
}

nav > :first-child {
  margin-right: auto;
}

.main-visual {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 650px;
  padding: 200px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: bottom;
}

.main-text h1 {
  font-size: 64px;
  color: #fafafa;
}

.main-text p {
  margin-top: 10px;
  font-size: 20px;
  color: #fafafa;
  text-align: center;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #eceff1;
}

.portfolio {
  padding: 90px 0;
  width: 920px;
}

.content-title {
  font-size: 32px;
  text-align: center;
  color: #000000;
}

.border {
  margin: 8px auto 0 ;
  width: 70px;
  border-bottom: 3px solid #ec715f;
}

.content-text {
  margin: 30px 0;
  font-size: 16px;
  text-align: center;
  color: #000000;
}

.portfolio-image {
  float: left;
}

.image {
  float: left;
  margin-right: 10px;
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.portfolio-image > :nth-child(3n) {
  margin-right: 0;
}

.portfolio-image > :nth-child(-n+3) { 
  margin-bottom: 10px;
  /* 兄弟要素のグループの中で最初の3つの要素を表します。 [=-0+3, -1+3, -2+3] */
}

.one {
  background-image: url(img/sketch.jpg);
}

.two {
  background-image: url(img/websuku.png);
}

.three {
  background-image: url(img/write.jpg);
}

.four {
  background-image: url(img/webcamp.png);
}

.five {
  background-image: url(img/talk.jpg);
} 

.six{
  background-image: url(img/webcamp-mother.png);
}

.feature {
  padding: 90px 0;
  width: 980px;
}

.feature-item {
  float: left;
  width: 320px;
  margin-right: 10px;
}

.feature-items > :last-child {
  margin-right: 0;
}

.feature-icon {
  font-size: 60px;
  text-align: center;
}

.feature-title {
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
  color: #000000;
}

.profile {
  margin: 90px 0;
  width: 1024px;
}

.profile-image-box {
  float: left;
  width: 512px;
}

.profile-image {
  margin: 0 auto;
  background-image: url(img/my-icon.jpg);
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.profile-items {
  float: left;
  width: 512px;
}

.profile-title h3 {
  margin-bottom: 5px;
  font-size: 20px;
}

.profile-text p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #000000;
}

.profile-text:last-child {
  margin-bottom: 0;
}